.userSearchCard {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  &__name {
    font-weight: 700;
    text-decoration: none;

    &:hover {
      color: var(--dark-slate-gray-c);
    }
  }
}

.link {
  color: var(--primary-c);
  text-decoration: none;
}
