.search {
  position: fixed;
  width: 25%;
  top: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 5px;
  border: none;
  background-color: var(--light-accent-c);
  box-shadow: var(--box-shadow);
  color: var(--primary-c);
  
  &__form {
    position: relative;
    width: 90%;
    margin-left: 10%;
  }

  &__icon {
    position: absolute;
    top: 20%;
    right: 15%;
    color: inherit;
  }

  &__input {
    width: 80%;
    margin: 0 auto;
    font-family: inherit;
    font-size: 12px;
    outline: none;
    padding: 7px 10px;
    border-radius: 5px;
    border: 1px solid transparent;
    color: var(--dark-slate-gray-c);
    background-color: var(--white-c);

     &:focus {
      border-color: var(--accent-c);
      background-color: var(--gray-c);
    }
  }
  &__result {
    width: 90%;
    margin-top: 20px;
    padding: 0 20px 10px;
    border-radius: 5px;
    overflow-y: auto;
    max-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;

  }

  &__not-found-msg {
    font-size: 18px;
    font-weight: 700;
    color: inherit;
    align-self: center;
  }
}

.close-btn {
  color: inherit;
  border: 1px solid transparent;
  background-color: var(--white-c);
  border-radius: 5px;
  padding: 3px 35px;
  margin-top: 15px;
  align-self: flex-end;
  cursor: pointer;
  transition: var(--transition);

  &:hover {
    border-color: var(--accent-c);
    background-color: var(--gray-c);
  }

  &:active {
    transform: scale(0.95);
  }
}