.userDetailsEditMode {
  position: absolute;
  top: 100%;
  left: 150%;
  width: 60%;
  padding: 20px 50px;
  border-radius: 10px;
  background-color: var(--light-gray-c);
  border: 1px solid var(--accent-c);
  box-shadow: var(--box-shadow);
  z-index: 10;

  &__title {
    text-align: center;
    font-size: 28px;
  }

  &__subtitle {
    text-align: center;
    margin-block: 30px;
  }
}

.form {
  &__label--photo-edit {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    cursor: pointer;
    transition: var(--transition);

    &:hover {
       transform: scale(1.05);
    }  
  }

   &__btn-group {
    display: flex;
    gap: 25px;
    align-items: center;
    justify-content: center;
  }

  &__secondary-btn {
    font-family: inherit;
    font-size: 16px;
    font-weight: 700;
    background-color: var(--light-accent-c);
    color: var(--white-c);
    border-radius: 5px;
    border: 2px solid var(--accent-c);
    outline: none;
    padding: 5px 10px;
    width: 75px;
    cursor: pointer;
    transition: var(--transition);

      &:hover {
      color:var(--accent-c);
      background-color: var(--white-c);
    }
  }
}