:root {
  --primary-c: #566467;
  --accent-c: #24bfd9;
  --light-accent-c: #69d2e4;
  --dark-accent-c: #0399b4;
  --dark-slate-gray-c: #31474b;
  --white-c: #fff;
  --gray-c: #e5e5e5;
  --light-gray-c: #f0f0f0;
  --box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  --transition: all 0.3s ease-in-out;
}

body {
  margin: 0;
  font-family: "Ubuntu Mono", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f5f5f5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
