:root {
  --primary-c: #566467;
  --accent-c: #24bfd9;
  --light-accent-c: #78d6e6;
  --dark-accent-c: #0399b4;
  --dark-slate-gray-c: #31474b;
  --light-blue-c: #daf0f4;
  --white-c: #fff;
  --white-smoke: #f5f5f5;
  --gray-c: #e5e5e5;
  --light-gray-c: #f0f0f0;
  --taupe-gray-c: #8b8787;
  --box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  --transition: all 0.3s ease-in-out;
}

body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Ubuntu Mono", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--primary-c);
  background-color: var(--white-smoke);
  scroll-behavior: smooth;
}

